@keyframes fadeInVisibility {
    0% {
        opacity: 0;
        visibility: visible;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeOutVisibility {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fadeInVisibilityBg {
    0% {
        opacity: 0.3;
        visibility: visible;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}